.home-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    /* Collapsed width */
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
}

.sidebar.expanded {
    width: 300px;
    /* Expanded width */
}

.sidebar .sidebar-icon {
    font-size: 2rem;
}

.sidebar-content {
    padding: 20px;
}

.event-item {
    padding: 10px 0;
    cursor: pointer;
}

.main-content {
    margin-left: 60px;
    flex-grow: 1;
    padding: 20px;
}

.hero-section {
    background: url('./asd-transformed.png') no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

footer {
    margin-top: auto;
}